*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}
.navbar
{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
a{
  text-decoration: none;
  color: #555;
}
.dropbtn {
  background-color: #ff523b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 90%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  top: 30%;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}
.header{
  background: radial-gradient(#fff,#ffd6d6);
}
.header row{
  margin-top: 70px;
  margin-left: 20px;
}
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.h4{
  color: #555;
  font-weight: normal;
}
.col-3 p{
  font-size: 14px;
}
.col-3:hover{
  transform: translateY(-10px);
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}
@media only screen and (max-width: 800px) {
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2,.col-3{
    flex-basis: 100%;
  }
}
.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 100px 0 50px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer col-1{
  min-width: 250px;
  margin-top: 0;
  margin-bottom: 20px;
  flex-basis: 30%;
}
.footer-col-2{
  margin-top: 0;
  margin-left: 50px;
  margin-right: 10px;
  flex: 1;
  text-align: center;
}
